<%- include('includes/head.ejs') %>
</head>

<body>


<div id="detailsDiv" class="container text-center bg-light rounded-3">

    <h3>Please fill the next fields</h3><br>
    <p class="text-danger"><%= message %></p>

    <div>
        <form action="/register/add-password" method="POST" id="detailsForm">


            <label for="email">Enter your email address</label><br>
            <input type="email" class="w-25" id="email" name="email"
                   value="<%= emailAddress %>" placeholder="Email Address"
                   pattern="[[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$]{0,32}" required><br><br>

            <label for="firstName">Enter your first name</label><br>
            <input type="text" class="w-25" id="firstName" name="firstName" value="<%= firstName %>"
                   placeholder="First Name" pattern="[A-Za-z ]{3,32}" required><br><br>

            <label for="lastName">enter your last name</label><br>
            <input type="text" class="w-25" id="lastName" name="lastName" value="<%= lastName %>"
                   placeholder="Last Name" pattern="[A-Za-z ]{3,32}" required><br><br>

            <input id="nextBtn" type="submit" class="btn btn-primary" value="Next" ><br>
        </form>
    </div><br>

    <p>Already registered? go to <a href='/'>login</a> page</p>
</div>

<%- include('includes/end.ejs') %>